.env
.env.local
.env.development
.env.test
.env.production
*.env

__pycache__/
*.py[cod]
venv/
*.so

*.log
db.sqlite3
media/

node_modules/
dist/
build/
.cache/
coverage/

.vscode/
.idea/
*.swp
*.swo
*.swn
.DS_Store